W205 Lab 2 Submissions Divya Sriram

Answers to Lab 3 Questions (command line prompt input and the resulting outputs are c/p in the second half of this document.)

1. Execution times for Hive, SparkSQL, and SparkSQL on Parquet

Hive:  120.034 seconds      
SparkSQL: 30.717 seconds
SparkSQL on Parquet: 10.761 seconds

2. Number of jobs launched for Hive and SparkSQL

Hive: 2 jobs
SparkSQL: 1 job

In [ ]:
3. Write a query which joins weblogs_parquet to user_info and counts the top 5 locations. List the locations.

SELECT user_info.location, 
COUNT(user_info.location) AS location_count
FROM user_info 
JOIN weblogs_parquet
ON user_info.user_id = weblogs_parquet.user_id 
GROUP BY user_info.location
ORDER BY location_count DESC
LIMIT 5;


La Fayette      49                                                              
Leeds	47
Blountsville	46
Hayden	45
Hamilton	45
Time taken: 11.187 seconds, Fetched 5 row(s)

BELOW IS THE INPUT AND OUTPUT FROM THE COMMAND LINE PROMPTS FOR LAB 3

Hive:
    When using hive to count the 50 most frequent user_ids, it launched 2 jobs and took 120.034 seconds.
    
    
    
    
    SELECT user_id, COUNT(user_id) AS log_count
    FROM weblogs_schema GROUP BY user_id
    ORDER BY log_count DESC
    LIMIT 50;
    
    --------
    
Query ID = w205_20170203235555_805d5bb1-8a55-4ab7-b9e3-a5e8d680480b
Total jobs = 2
Launching Job 1 out of 2
Number of reduce tasks not specified. Estimated from input data size: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1486165776661_0003, Tracking URL = http://ip-172-31-6-250.ec2.internal:8088/proxy/application_1486165776661_0003/
Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1486165776661_0003
Hadoop job information for Stage-1: number of mappers: 1; number of reducers: 1
2017-02-03 23:55:58,058 Stage-1 map = 0%,  reduce = 0%
2017-02-03 23:56:16,045 Stage-1 map = 100%,  reduce = 0%, Cumulative CPU 4.4 sec
2017-02-03 23:56:34,388 Stage-1 map = 100%,  reduce = 100%, Cumulative CPU 9.12 sec
MapReduce Total cumulative CPU time: 9 seconds 120 msec
Ended Job = job_1486165776661_0003
Launching Job 2 out of 2
Number of reduce tasks determined at compile time: 1
In order to change the average load for a reducer (in bytes):
  set hive.exec.reducers.bytes.per.reducer=<number>
In order to limit the maximum number of reducers:
  set hive.exec.reducers.max=<number>
In order to set a constant number of reducers:
  set mapreduce.job.reduces=<number>
Starting Job = job_1486165776661_0004, Tracking URL = http://ip-172-31-6-250.ec2.internal:8088/proxy/application_1486165776661_0004/
Kill Command = /usr/lib/hadoop/bin/hadoop job  -kill job_1486165776661_0004
Hadoop job information for Stage-2: number of mappers: 1; number of reducers: 1
2017-02-03 23:56:56,018 Stage-2 map = 0%,  reduce = 0%
2017-02-03 23:57:10,362 Stage-2 map = 100%,  reduce = 0%, Cumulative CPU 3.64 sec
2017-02-03 23:57:26,442 Stage-2 map = 100%,  reduce = 100%, Cumulative CPU 6.64 sec
MapReduce Total cumulative CPU time: 6 seconds 640 msec
Ended Job = job_1486165776661_0004
MapReduce Jobs Launched: 
Stage-Stage-1: Map: 1  Reduce: 1   Cumulative CPU: 9.12 sec   HDFS Read: 5199465 HDFS Write: 867513 SUCCESS
Stage-Stage-2: Map: 1  Reduce: 1   Cumulative CPU: 6.64 sec   HDFS Read: 871961 HDFS Write: 2001 SUCCESS
Total MapReduce CPU Time Spent: 15 seconds 760 msec
OK
RequestVerificationToken_Lw__=2C2DB	10
__RequestVerificationToken_Lw__=3DDC1	9
__RequestVerificationToken_Lw__=A1BC3	9
...(more entries here)
__
__RequestVerificationToken_Lw__=C22C2	7
Time taken: 120.034 seconds, Fetched: 50 row(s)

SparkSQL:
    When using SparkSQL to count the 50 most frequent user_ids, it launched only 1 job and took only 30.717 seconds.
    
    
    SELECT
    user_id,
    COUNT(user_id) AS log_count 
    FROM weblogs_schema
    GROUP BY user_id
    ORDER BY log_count DESC
    LIMIT 50;

    ---------------
   
__RequestVerificationToken_Lw__=B232C	8
__RequestVerificationToken_Lw__=D1DBD	8
__RequestVerificationToken_Lw__=BD11A	8
__RequestVerificationToken_Lw__=AAABA	8
_...(more entries)
__RequestVerificationToken_Lw__=AC3DA	7
Time taken: 30.717 seconds, Fetched 50 row(s)

SparkSQL on Parquet:
    When using SparkSQL to count the 50 most frequent user_ids, it launched only 1 job and took only 10.761 seconds.
    
    
    SELECT user_id, COUNT(user_id) AS log_count
    FROM weblogs_parquet GROUP BY user_id
    ORDER BY log_count DESC
    LIMIT 50;
    
    -----------

__RequestVerificationToken_Lw__=D1DBD	8
__RequestVerificationToken_Lw__=BD11A	8
__RequestVerificationToken_Lw__=DBBC1	8
__RequestVerificationToken_Lw__=33ABD	8
_...(more entries)
__RequestVerificationToken_Lw__=AC3DA	7
Time taken: 10.761 seconds, Fetched 50 row(s)